.body{
    flex: 2;
    background:linear-gradient(#301a54,#9a60f7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.body__input{
    display: flex;
    margin-top: 90px;
    width: 60%;
    height: 40px;
    padding: 10px;
    background: #1e0c3b;
    border-radius: 20px;
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.5;
    width: 60%;
    margin-top: 30px;
}
.detail{
    flex: 2;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 30px 0px 30px 0px;
}

.detail_des{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35%;
    height: 90%;
    background-color: #1a0a33;
    color: white;
    text-align: center;
    transition: 0.2s ease-in;
}

.detail_des:hover{
    width: 40%;
    height: 100%;
}

.detail_des > h1{
    font-size: 50px;
}

.body__input > input{
    margin-left: 20px;
    border: none;
    width: 100%;
    font-size: 30px;
    color: gray;
    border-radius: 10px;
}

.body__input > div >.MuiSvgIcon-root {
    cursor: pointer;
    color: white;
}


